<head>
  <link href="http://gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <meta name="description" content="Some Thoughts On Software Development Consulting">
  <meta name="keywords" content="iOS Developer,iOS Development, Albuquerque, Albuquerque iPhone Developer, Albuquerque Software Developer, Software,Developer,Programmer, Software Consultant, Freelance Developer">
  <meta name="author" content="Brandon Trebitowski">

  <link rel="micropub" href="https://brandontreb-blog.herokuapp.com/micropub/main">
  <link rel="token_endpoint" href="https://tokens.indieauth.com/token">
  <link rel="authorization_endpoint" href="https://indieauth.com/auth">
  <link href="https://twitter.com/brandontreb" rel="me">
  <link href="http://github.com/brandontreb" rel="me">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <title>
    {% if page.title == "Home" %}
    {{ site.title }} &middot; {{ site.tagline }}
    {% else %}
    {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>

  <!-- CSS -->
  <link rel="stylesheet" href="{{ site.baseurl }}/public/css/poole.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/public/css/syntax.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/public/css/lanyon.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700%7CPT+Sans:400">

  <!-- Icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.baseurl }}/public/apple-touch-icon-precomposed.png">
  <link rel="icon" type="image/svg+xml" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 width=%22256%22 height=%22256%22 viewBox=%220 0 100 100%22><rect width=%22100%22 height=%22100%22 rx=%2220%22 fill=%22%234a4a4a%22></rect><path fill=%22%23fff%22 d=%22M50.37 78.44L30.64 78.44L30.64 21.56L49.24 21.56Q58.50 21.56 63.16 25.39Q67.83 29.22 67.83 36.72L67.83 36.72Q67.83 40.70 65.57 43.77Q63.30 46.84 59.39 48.52L59.39 48.52Q64.00 49.80 66.68 53.42Q69.36 57.03 69.36 62.03L69.36 62.03Q69.36 69.69 64.39 74.06Q59.43 78.44 50.37 78.44L50.37 78.44ZM50.64 51.84L38.14 51.84L38.14 72.30L50.53 72.30Q55.76 72.30 58.79 69.59Q61.82 66.88 61.82 62.11L61.82 62.11Q61.82 51.84 50.64 51.84L50.64 51.84ZM38.14 27.73L38.14 45.82L49.47 45.82Q54.39 45.82 57.34 43.36Q60.29 40.90 60.29 36.68L60.29 36.68Q60.29 31.99 57.56 29.86Q54.82 27.73 49.24 27.73L49.24 27.73L38.14 27.73Z%22></path></svg>" />


  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/feed.xml">


  <!-- Twitter cards -->
  <meta name="twitter:site"    content="@{{ site.twitter_username }}">
  <meta name="twitter:creator" content="@{{ page.author }}">
  <meta name="twitter:title"   content="{{ page.title }}">

  {% if page.summary %}
  <meta name="twitter:description" content="{{ page.summary }}">
  {% else %}
  <meta name="twitter:description" content="{{ site.description }}">
  {% endif %}

  {% if page.image %}
  <meta name="twitter:card"  content="summary_large_image">
  <meta name="twitter:image" content="{{ site.url }}{{ page.image }}">
  {% else %}
  <meta name="twitter:card"  content="summary">
  <meta name="twitter:image" content="{{ site.title_image }}">
  {% endif %}
  <!-- end of Twitter cards -->

  <!-- Web Mentions -->
  <link rel="webmention" href="https://webmention.io/brandontreb.com/webmention" />
<link rel="pingback" href="https://webmention.io/brandontreb.com/xmlrpc" />

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-381854-9', 'auto');
ga('send', 'pageview');

  </script>
</head>
