<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
	  <!-- BuySellAds Ad Code -->
	  <script type="text/javascript">
	  (function(){
	    var bsa = document.createElement('script');
	       bsa.type = 'text/javascript';
	       bsa.async = true;
	       bsa.src = '//s3.buysellads.com/ac/bsa.js';
	    (document.getElementsByTagName('head')[0]||document.getElementsByTagName('body')[0]).appendChild(bsa);
	  })();
	  </script>
	  <!-- End BuySellAds Ad Code -->

    {% include header.html %}

    <div class="page-content">
  	  <p>
  		  <!-- BuySellAds Zone Code -->
  		  <div style="clear:both" id="bsap_1242083" class="bsarocks bsap_ecc27b69ffe30504412d8da9c39c3116"></div>
  		  <!-- End BuySellAds Zone Code -->
  	  </p>
  	  <br />
      <div class="wrapper">	  
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
