---
layout: default
---

<article class="post">
  <h1>{{ page.title }}</h1>

  <div class="entry">
    {% if page.mf-photo %}
    <div class="gallery-item" tabindex="0">
      <img width="300" src="{{ page.mf-photo }}" class="gallery-image" alt="" data-url="{{url}}">
      <div class="gallery-item-info">
        {{content}}
      </div>
    </div>
    {% else %}
    {{ content }}
    {% endif %}
  </div>

  <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>

  {% include disqus.html %}
</article>