---
layout: default
---

<article class="post">
  <h1>{{ page.title }}</h1>

  <div class="entry">
    {% if post.mf-photo %}
    <div class="gallery-item" tabindex="0">
      <img  src="{{ post.mf-photo }}" class="gallery-image" alt="" data-url="{{post.url}}">
      <div class="gallery-item-info">
        <ul>
          <li class="gallery-item-likes">{{post.content}}</li>
        </ul>
      </div>
    </div>
    {% else %}
    {{ content }}
    {% endif %}
  </div>

  <div class="date">
    <a href= "{{ site.baseurl }}{{ url }}">
      {{ date | date: "%H:%M %b" }}
    </a>
  </div>  
</article>
